# Eclipse project files
.classpath
.project
.settings/
.externalToolBuilders/
.metadata/
.recommenders/
RemoteSystemsTempFiles/

# Intellij project files
*.iml
*.iws
.idea/

# Mac
.DS_Store

# Maven
logs/
target/
test-output/
bin/

# Others
source/src/main/resources/.h2.server.properties
core.*
nohup.out
tmp_test/

# Python
*.pyc
venv
